/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

 #workspace{
    position:relative;
    height:1000px;

    .background-image{ position: absolute; left:0; top: 0; z-index:1; }
    .user-image{ position: absolute; left:0; top: 0; z-index: 99;}
 }
 body {
    background-color: green;
 };